#chain selector
NEXT_PUBLIC_CHAIN=sepolia           # ou "anvil"

#anvil conf
NEXT_PUBLIC_ANVIL_FACTORY=0x...
NEXT_PUBLIC_ANVIL_FACTORY_BLOCK=0
NEXT_PUBLIC_DEV_TOKENS=0x...,0x...

#sepolia conf
NEXT_PUBLIC_SEPOLIA_FACTORY=0x...
NEXT_PUBLIC_SEPOLIA_FACTORY_BLOCK=0 #factory contract deployment block heigth
NEXT_PUBLIC_SEPOLIA_DEMO_SPLITTER=0x... #main demo splitter

#RPC endpoint key
INFURA_API_KEY=xxxxx
